@import "../libs/swiper-bundle.min.css";
@import "../libs/normalize.css";
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"), url("./../../fonts/roboto/Roboto.woff2") format("woff2"), url("./../../fonts/roboto/Roboto.woff") format("woff"), url("./../../fonts/roboto/Roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url("./../../fonts/roboto/Robotomedium.woff2") format("woff2"), url("./../../fonts/roboto/Robotomedium.woff") format("woff"), url("./../../fonts/roboto/Robotomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"), url("./../../fonts/roboto/Robotobold.woff2") format("woff2"), url("./../../fonts/roboto/Robotobold.woff") format("woff"), url("./../../fonts/roboto/Robotobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Yanone Kaffeesatz";
  src: url("./../../fonts/YanoneKaffeesatz/YanoneKaffeesatz-Regular.woff2") format("woff2"), url("./../../fonts/YanoneKaffeesatz/YanoneKaffeesatz-Regular.woff") format("woff"), url("./../../fonts/YanoneKaffeesatz/YanoneKaffeesatz-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dosis";
  src: local("Dosis Bold"), local("Dosis-Bold"), url("./../../fonts/dosis/dosisbold.woff2") format("woff2"), url("./../../fonts/dosis/dosisbold.woff") format("woff"), url("./../../fonts/dosis/dosisbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*, :after, :before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  min-width: 320px;
}

body {
  min-height: 100%;
  font-family: Roboto, sans-serif;
  min-width: 320px;
  color: rgba(4, 17, 51, 0.7);
}

.container {
  position: relative;
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}

.top-bg {
  min-height: 900px;
  background: url("./../../img/header/bg.jpeg") right top no-repeat;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
  color: rgba(4, 17, 51, 0.7);
}

ul {
  list-style: none;
}

@media (max-width: 1230px) {
  .container {
    max-width: 1022px;
  }

  .top-bg {
    min-height: auto;
    background-size: 50%;
  }
}
@media (max-width: 1022px) {
  .container {
    max-width: 798px;
  }

  .top-bg {
    padding-bottom: 40px;
  }
}
@media (max-width: 798px) {
  .container {
    max-width: 606px;
  }

  .top-bg {
    background: none;
    padding-bottom: 0;
  }
}
@media (max-width: 606px) {
  .container {
    max-width: 405px;
  }

  .overflow {
    overflow: hidden;
  }
}
.logo {
  font-family: Dosis, sans-serif;
  text-transform: uppercase;
  color: #041133;
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.15em;
}

.header {
  padding: 18px 30px;
  position: relative;
}
.header_fixed {
  padding: 15px 30px;
  background: #fff;
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav__list {
  display: flex;
  margin-right: 40px;
  font-size: 14px;
}
.header-nav__list li:not(:last-of-type) {
  margin-right: 30px;
}
.header-nav__link {
  transition: all 0.3s;
}
.header-nav__link:hover {
  color: rgba(4, 17, 51, 0.8);
}
.header-nav-burger {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

@media (max-width: 798px) {
  .header {
    padding: 18px 15px;
  }
  .header-nav__list {
    margin-right: 20px;
  }
}
@media (max-width: 606px) {
  .header {
    max-width: 405px;
    margin: 0 auto;
  }
  .header_fixed {
    max-width: 100%;
  }
  .header-nav__list {
    display: none;
  }
}
.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
  background: #fff;
  transform: translateX(200%);
  transition: all 0.5s;
}
.nav-menu_height {
  margin-top: 60px;
  min-height: calc(100vh - 60px);
}
.nav-menu__close {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  right: 25px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
}
.nav-menu__close img {
  width: 100%;
  height: 100%;
}
.nav-menu_active {
  transform: translateX(0);
}
.nav-menu__list {
  padding: 40px;
}
.nav-menu__item:not(:last-of-type) {
  margin-bottom: 20px;
}
.nav-menu__item_mob {
  display: none;
}
.nav-menu__link {
  font-size: 14px;
  line-height: 20px;
  color: #041133;
  opacity: 0.7;
}

@media (max-width: 606px) {
  .nav-menu {
    width: 100%;
  }
  .nav-menu_height {
    margin: 0;
    min-height: 100vh;
  }
  .nav-menu__item_mob {
    display: block;
  }
}
.title {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 35px;
  line-height: 35px;
  color: rgba(4, 17, 51, 0.8);
  letter-spacing: 0.01em;
}
.title_main {
  font-size: 52px;
  line-height: 55px;
}
.title_center {
  text-align: center;
}

@media (max-width: 1022px) {
  .title_main {
    font-size: 45px;
    line-height: 45px;
  }
}
@media (max-width: 798px) {
  .title_main {
    font-size: 38px;
    line-height: 40px;
  }
}
@media (max-width: 606px) {
  .title_main {
    font-size: 30px;
  }
}
.subtitle {
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(103, 131, 254, 0.8);
}
.subtitle_mb {
  margin-bottom: 16px;
}
.subtitle_center {
  text-align: center;
}

.top-info {
  margin-top: 118px;
}
.top-info__inner {
  max-width: 510px;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.02em;
}
.top-info__title {
  margin-bottom: 34px;
}
.top-info__text {
  margin-bottom: 40px;
}
.top-info-data {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}
.top-info-data div {
  flex: 0 0 50%;
}
.top-info-data div:not(:last-of-type) {
  margin-bottom: 40px;
}

@media (max-width: 1022px) {
  .top-info {
    margin-top: 40px;
  }
  .top-info__text {
    font-size: 15px;
  }
  .top-info-data {
    font-size: 15px;
    margin-top: 75px;
  }
}
@media (max-width: 798px) {
  .top-info__inner {
    max-width: 100%;
  }
  .top-info__text {
    font-size: 14px;
  }
  .top-info-data {
    font-size: 14px;
    margin-top: 50px;
  }
  .top-info-data div {
    flex: 1 1 100%;
  }
  .top-info-data div br {
    display: none;
  }
  .top-info-data div:not(:last-of-type) {
    margin-bottom: 23px;
  }
}
.button {
  padding: 13px 24px;
  font-weight: 500;
  color: #fff;
  background: #FF785F;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
  font-size: 16px;
}
.button:hover {
  background: #ff5a3c;
}
.button_middle {
  font-size: 14px;
  padding: 6px 20px;
  margin-right: 100px;
}

@media (max-width: 1022px) {
  .button_middle {
    margin-right: 26px;
  }
}
@media (max-width: 798px) {
  .button {
    font-size: 14px;
  }
  .button_middle {
    display: none;
  }
}
.link {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #6783FE;
}
.link_middle {
  font-size: 14px;
}

@media (max-width: 798px) {
  .link {
    font-size: 15px;
  }
}
.clients {
  padding: 70px 0;
}
.clients__title {
  margin-bottom: 50px;
}
.clients__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.clients__item img {
  width: 100%;
  object-fit: scale-down;
}
.clients__top {
  max-width: 989px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.clients__top .clients__item_1 {
  display: none;
}
.clients__top .clients__item:not(:last-of-type) {
  margin: 0 25px;
}
.clients__middle {
  max-width: 1015px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
}
.clients__middle .clients__item_2 {
  display: none;
}
.clients__bottom {
  max-width: 638px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clients__bottom .clients__item_1 {
  display: none;
}

@media (max-width: 1022px) {
  .clients {
    padding: 45px;
  }
  .clients__items {
    display: flex;
    flex-direction: row;
    align-items: start;
  }
  .clients__top {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .clients__top .clients__item:not(:last-of-type) {
    margin: 0 0 20px 0;
  }
  .clients__top .clients__item_1 {
    display: none;
  }
  .clients__middle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .clients__middle .clients__item_3 {
    display: none;
  }
  .clients__bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .clients__bottom .clients__item_1 {
    display: block;
  }
  .clients__item {
    height: 60px;
    align-items: center;
  }
  .clients__item:not(:last-of-type) {
    margin-bottom: 20px;
  }
}
@media (max-width: 606px) {
  .clients__items {
    flex-wrap: wrap;
    justify-content: center;
  }
  .clients__top {
    justify-content: center;
    align-items: center;
    flex: 0 0 45%;
    flex-direction: column;
    margin-bottom: 0;
  }
  .clients__top .clients__item_1 {
    display: none;
  }
  .clients__middle {
    justify-content: center;
    align-items: center;
    flex: 0 0 45%;
    flex-direction: column;
    margin-bottom: 0;
  }
  .clients__middle .clients__item_2 {
    display: none;
  }
  .clients__bottom {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .clients__bottom .clients__item {
    display: flex;
    justify-content: center;
    height: 60px;
    flex: 0 0 40%;
  }
}
.services {
  padding: 70px 0 55px;
}
.services__title {
  margin-bottom: 35px;
}
.services-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 420px;
}
.services-slider__nav {
  max-width: 303px;
}
.services-slider__item {
  display: flex;
  cursor: pointer;
}
.services-slider__item:not(:last-of-type) {
  margin-bottom: 30px;
}
.services-slider__item_active div {
  color: #6783FE;
}
.services-slider__num {
  font-size: 35px;
  line-height: 35px;
  color: rgba(4, 17, 51, 0.3);
}
.services-slider__text {
  margin-left: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: rgba(4, 17, 51, 0.4);
}
.services-slider-info {
  max-width: 807px;
  width: 100%;
  display: none;
  padding: 35px 30px;
  box-shadow: 0 0 11px rgba(4, 17, 51, 0.11);
  border-radius: 5px;
  border-left: 3px solid #6783FE;
}
.services-slider-info_active {
  display: flex;
}
.services-slider-info_territory {
  flex-wrap: wrap;
}
.services-slider-info_jkh {
  padding: 0 0 0 30px;
  justify-content: space-between;
}
.services-slider-info__crash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 372px;
  padding: 30px 0;
}
.services-slider-info__item {
  flex: 1 0 33.333%;
}
.services-slider-info__item:nth-child(1), .services-slider-info__item:nth-child(4), .services-slider-info__item:nth-child(3), .services-slider-info__item:nth-child(6) {
  flex: 0 0 30%;
}
.services-slider-info__item:not(:last-of-type) {
  margin-bottom: 50px;
}
.services-slider-info__jkh-item:not(:last-of-type) {
  margin-bottom: 50px;
}
.services-slider-info__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: rgba(4, 17, 51, 0.7);
  margin-bottom: 10px;
}
.services-slider-info__title_mb-0 {
  margin-bottom: 0;
}
.services-slider-info__text {
  font-size: 14px;
  line-height: 20px;
  color: rgba(4, 17, 51, 0.7);
}
.services-slider-info__img {
  max-width: 360px;
  flex: 1 1 100%;
}
.services-slider-info__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services-slider-info__parts {
  display: flex;
  align-items: center;
}
.services-slider-info__parts:not(:last-of-type) {
  margin-bottom: 30px;
}
.services-slider-info__parts img {
  margin-right: 30px;
}
.services-slider-system {
  padding: 0;
}
.services-slider-system__left {
  width: 55%;
  padding: 60px 50px 50px 50px;
}
.services-slider-system__category {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services-slider-system__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 41%;
  text-align: center;
}
.services-slider-system__item:not(:nth-child(5), :nth-child(6)) {
  margin-bottom: 20px;
}
.services-slider-system__item img {
  margin-bottom: 7px;
}
.services-slider-system__right {
  background: #F4F8FB;
  flex: 1;
  padding: 60px 50px 50px 40px;
}
.services-slider-system__list {
  margin-top: 65px;
}
.services-slider-system__list li:not(:last-of-type) {
  margin-bottom: 22px;
}

@media (max-width: 1230px) {
  .services-slider-info {
    padding: 20px 15px;
  }
  .services-slider-info_jkh {
    padding: 0 0 0 15px;
  }
  .services-slider-info__crash {
    margin-right: 15px;
  }
  .services-slider-info__title {
    font-size: 15px;
  }
  .services-slider__num {
    font-size: 28px;
  }
  .services-slider__text {
    font-size: 14px;
  }
  .services-slider-system {
    padding: 0;
  }
}
@media (max-width: 1022px) {
  .services {
    padding: 45px 0;
  }
  .services-slider {
    flex-direction: column;
  }
  .services-slider__nav {
    max-width: 100%;
    order: 1;
  }
  .services-slider__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
  }
  .services-slider__item {
    flex: 0 0 50%;
  }
  .services-slider__item:not(:last-of-type) {
    margin-bottom: 15px;
  }
}
@media (max-width: 798px) {
  .services-slider-info__crash {
    max-width: 100%;
    margin: 0;
    padding: 20px 15px;
  }
  .services-slider-info__item:nth-child(1), .services-slider-info__item:nth-child(4), .services-slider-info__item:nth-child(3), .services-slider-info__item:nth-child(6) {
    flex: 0 0 32%;
  }
  .services-slider-info_jkh {
    padding: 0;
    flex-direction: column-reverse;
  }
  .services-slider-info__jkh-item:not(:last-of-type) {
    margin-bottom: 15px;
  }
  .services-slider-info__img {
    height: 260px;
    max-width: 100%;
    flex: auto;
  }
  .services-slider-system__left {
    padding: 25px;
    justify-content: center;
    flex-direction: column;
    display: flex;
  }
  .services-slider-system__right {
    padding: 25px;
  }
  .services-slider-system__list {
    margin-top: 40px;
  }
  .services-slider-system__item {
    flex: 0 0 49%;
  }
}
@media (max-width: 606px) {
  .services-slider__text {
    margin-left: 15px;
  }
  .services-slider__text br {
    display: none;
  }
  .services-slider__list {
    flex-direction: column;
  }
  .services-slider-info {
    flex-direction: column;
  }
  .services-slider-info__title {
    font-size: 14px;
  }
  .services-slider-info__text {
    font-size: 12px;
  }
  .services-slider-info__item {
    flex: 0 0 100% !important;
  }
  .services-slider-info__item br {
    display: none;
  }
  .services-slider-info__item:not(:last-of-type) {
    margin-bottom: 25px;
  }
  .services-slider-system {
    flex-direction: column;
  }
  .services-slider-system__left {
    padding: 15px;
    width: 100%;
  }
}
.competence {
  padding: 70px 0;
}
.competence__title {
  margin-bottom: 38px;
}
.competence__inner {
  display: flex;
  margin-bottom: 40px;
}
.competence__wrapper {
  height: auto;
}
.competence-item {
  padding: 30px 10px 40px;
  box-shadow: 0 0 11px rgba(4, 17, 51, 0.11);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.competence-item img {
  margin-bottom: 30px;
}
.competence-item__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 5px;
}
.competence-item__text {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: rgba(4, 17, 51, 0.7);
  opacity: 0.8;
}
.competence__buttons {
  display: flex;
  justify-content: center;
}
.competence-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgba(224, 227, 240, 0.5) url("./../../img/competence/icons/arrow.svg") 45% no-repeat;
}
.competence-arrow_right {
  margin-left: 20px;
  transform: rotate(180deg);
}

@media (max-width: 1022px) {
  .competence {
    padding: 45px 0;
  }
}
.map {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.map-search {
  position: absolute;
  top: 20px;
  right: 135px;
  z-index: 3;
  max-width: 363px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
}
.map-search__input {
  border-radius: 5px 5px 0 0;
  position: relative;
  width: 100%;
  height: 51px;
  padding: 15px 60px 15px 20px;
  font-size: 14px;
  line-height: 20px;
  outline: none;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid #E0E3F0;
}
.map-search__input::placeholder {
  font-size: 14px;
  line-height: 20px;
  color: rgba(4, 17, 51, 0.7);
}
.map-search__button {
  border-radius: 0 5px 0 0;
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #6783FE;
}
.map-search__wrapper {
  display: none;
}
.map-search__items {
  overflow-y: scroll;
  max-height: 325px;
  padding: 20px 25px;
  border-bottom: 1px solid #E0E3F0;
}
.map-search__items:before {
  content: "";
  max-width: 347px;
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  z-index: 2;
  top: 52px;
  border-radius: 5px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.map-search__items:after {
  content: "";
  max-width: 347px;
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  z-index: 2;
  top: 345px;
  border-radius: 5px;
  background: linear-gradient(0, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.map-search-select {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.map-search-select:not(:last-of-type) {
  margin-bottom: 20px;
}
.map-search-select__city {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #041133;
  opacity: 0.8;
  margin-bottom: 5px;
}
.map-search-select__address {
  font-size: 14px;
  line-height: 20px;
  color: rgba(4, 17, 51, 0.7);
  opacity: 0.8;
}
.map-search__contacts {
  padding: 25px 26px 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: rgba(4, 17, 51, 0.7);
}

@media (max-width: 606px) {
  .map-search {
    left: 50%;
    transform: translateX(-50%);
  }
}
.feedback {
  padding: 70px 0;
}
.feedback__inner {
  max-width: 805px;
  margin: 0 auto;
}
.feedback__wrapper {
  display: flex;
  justify-content: space-between;
}
.feedback-info {
  max-width: 363px;
  width: 100%;
}
.feedback-info__text {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.02em;
}
.feedback-info__text:not(:last-of-type) {
  margin-bottom: 15px;
}
.feedback-form {
  max-width: 363px;
  width: 100%;
}
.feedback-form input, .feedback-form textarea {
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #E0E3F0;
  padding: 10px 15px;
  outline: none;
  width: 100%;
  color: rgba(4, 17, 51, 0.7);
}
.feedback-form input:focus, .feedback-form textarea:focus {
  border: 1px solid #6783FE;
}
.feedback-form input::placeholder, .feedback-form textarea::placeholder {
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #041133;
  opacity: 0.5;
}
.feedback-form__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.feedback-form__top input {
  max-width: 171px;
  width: 100%;
}
.feedback-form__company {
  margin-bottom: 20px;
}
.feedback-form__about {
  resize: none;
  margin-bottom: 20px;
}
.feedback-form__button {
  width: 100%;
  color: #fff;
  padding: 13px 20px;
  border: none;
  outline: none;
  background: #6783FE;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  cursor: pointer;
}

@media (max-width: 1022px) {
  .feedback {
    padding: 45px 0;
  }
}
@media (max-width: 798px) {
  .feedback-info {
    margin-right: 15px;
  }
  .feedback-info__text {
    font-size: 14px;
  }
  .feedback-form__top {
    flex-direction: column;
  }
  .feedback-form__top input {
    max-width: 100%;
  }
  .feedback-form__name {
    margin-bottom: 20px;
  }
}
@media (max-width: 606px) {
  .feedback__wrapper {
    flex-direction: column;
  }
  .feedback-info {
    margin: 0 0 15px 0;
  }
}
.footer {
  padding: 70px 0;
  background: rgba(224, 227, 240, 0.5);
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer-info__text {
  margin-top: 19px;
  font-size: 14px;
  line-height: 20px;
  color: rgba(4, 17, 51, 0.7);
}
.footer-contacts {
  display: flex;
  flex-direction: column;
}
.footer-contacts_center {
  border-top: 1px solid #E0E3F0;
  padding: 30px;
  align-items: center;
}
.footer-contacts__info {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: rgba(4, 17, 51, 0.7);
  margin-bottom: 3px;
}
.footer-contacts__call {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(4, 17, 51, 0.7);
  margin-bottom: 20px;
}
.footer-contacts__phone {
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #6783FE;
}

@media (max-width: 1022px) {
  .footer {
    padding: 45px 0;
  }
}
@media (max-width: 798px) {
  .footer__inner {
    flex-direction: column;
  }
  .footer-info {
    margin-bottom: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
